body {
  background-color: #d9d0c2;
}

#image {
  height: 650px;
  background-image: url("image.png");
  background-repeat:no-repeat;
  background-position-x:center;
  background-position-y:center;
  background-size: 90%;
}
